body {
    background: url("https://images.unsplash.com/flagged/photo-1562503542-2a1e6f03b16b?ixid=MXwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHw%3D&ixlib=rb-1.2.1&auto=format&fit=crop&w=1336&q=80") no-repeat center center fixed;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
  }
  
.secnav {
    display: flex;
    justify-content: center;
    padding: 10px;
}

.button {
    padding: 12px 20px;
    border-radius: 20px;
    border-style: none;
    overflow: hidden;
    background-color: black;
    color: white;
}

.button:hover {
    background: white;
    color: black;
    border-style: none;
    box-shadow: 0 0 20px 10px #b2bff8;
  }